<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <dl class="descriptionList">Sent Messages
    <% for (var i=0; i < messages.length; i++) {%>
      <dt class="messageBody">
        <%= messages[i][0]%>
      </dt>
      <dd class="messageDate">
        <%= messages[i][1]%>
      </dd>
      <dd class="messageNo">
        <%= messages[i][2]%>
      </dd>
    <% } %>
    </dl>
  </body>
</html>
